.navBarButton {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-decoration: none;
    background: transparent;
    border: none;
    padding: 10px;
    color: #000;
    position: relative;
    transition: .3s ease;
}

.navBarButton::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 0;
    background-color: #213C45;
    transition: .3s ease;
}

.navBarButton:hover {
    color: #000;
    transition-delay: .3s;
}

.navBarButton:hover::before {
    width: 100%;
}

.navBarButton:hover::after {
    height: 100%;
    transition-delay: 0.4s;
}