@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background: linear-gradient(#A6B2D1, #D6F4FF);
    min-height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

#root {
    --nav-height: 150px;
    --sidebar-width: 200px
}

p {
    font-size: 1.6rem;
}

h1, h2, h3 {
    font-size: 4rem;
}

.big-heading {
    font-size: clamp(5rem, 3.684rem + 7.018vw, 10rem)
}
.medium-heading {
    font-size: 4rem;
}
.small-heading {
    font-size: 2rem;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    height: var(--nav-height);
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

header li {
    list-style: none;
    padding: 5px;
}

header.slide-down{
    transition: transform 0.4s;
    transform: translateY(calc(var(--nav-height) * -1));
}
header.slide-up{
    transition: transform 0.4s;
}

header a {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    background: transparent;
    border: none;
    padding: 1em 1em;
    color: #000;
    position: relative;
    transition: .3s ease;
}

header li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #213C45;
    transition: .3s ease;
}

header li a:hover {
    color: #000;
    transition-delay: .3s;
}

header li a:hover::before {
    width: 100%;
}

header li a:hover::after {
    height: 100%;
    transition-delay: 0.4s;
}

.control-width {
    padding-right: 50px;
    padding-left: var(--sidebar-width);
    padding-top: var(--nav-height);
}

.text {
    text-align: left;
    min-width: 50%;
    margin:20px 0px 100px 0;
}

.text h1, h2, h3, h4, p {
    padding: 20px 0;
}

.hero {
    display: flex;
    min-height: calc(100vh - var(--nav-height));
    align-items: start;
    justify-content: space-between;
}

.hero img {
    justify-self: center;
    align-self: flex-end;
    max-height: calc(90vh - var(--nav-height));
    max-width: 50%;
}

.left-sidebar {
    position: fixed;
    top: 55%;
    width: var(--sidebar-width);
}

.left-sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.left-sidebar li {
    padding: 7px;
    list-style: none;
}

.left-sidebar li:last-of-type {
    margin-bottom: 25px;
}

.left-sidebar::after {
    content: "";
    display: block;
    width: 2.5px;
    height: 40vh;
    margin: 0px auto;
    background-color: #000;
}

.hero-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: start;
}

.hero-buttons button {
    padding: 1em 3em;
    font-size: 1.4rem;
    margin-right: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.hero-buttons button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
  
.hero-buttons button:active {
    transform: translateY(-1px);
}


.left-sidebar li a {
    text-decoration: none;
    color: inherit;
}

.left-sidebar li {
    transition: transform 0.3s ease;
}

.left-sidebar li:hover {
    color: #23c483;
    transition: 0.25s cubic-bezier(0.645,0.045,0.355,1);
    transform: translateY(-3px);
}


@media screen and (max-width: 1080px) {
    #root {
        --sidebar-width: 150px;
    }
}

@media screen and (max-width: 768px) {
    #root {
        --sidebar-width: 50px;
    }
    .left-sidebar, .hero img {
        display: none;
    }
    header ul {
        display: none;
    }

}

@media screen and (max-width: 480px) {
    #root {
        --sidebar-width: 30px;
    }
}